<h1>Article</h1>
<% @posts.each do |post| %>
    <h2><%= post.title %></h2>
    <p><%= post.content %></p>

    <a href="<%= post_path(post.id)%>">Lire plus !</a>
    <a href="<%= edit_post_path(post.id)%>">Modifier</a>
    <a href="<%= post_path(post.id) %>" data-confirm="Are you sureeee?" data-method="DELETE">Suprimmer</a>
<% end %>
<a href="<%= new_post_path %>">Crée un article</a>